[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "<2.11"
opencv-python = "*"
matplotlib = "*"
seaborn = "*"
pandas = "*"
scikit-learn = "*"
streamlit = "*"
jupyter = "*"
protobuf = "==3.20.*"
streamlit-lottie = "*"

[dev-packages]

[requires]
python_version = "3.9"
